
        <hr class="divider-d">
        <footer class="footer bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <p class="copyright font-alt">&copy; 2017/2018&nbsp;<a href="/">Tech Summit</a>, All Rights Reserved</p>
              </div>
            </div>
          </div>
        </footer>
      </div>
      <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
    </main>
    <!--  
    JavaScripts
    =============================================
    -->
    <script src="./public/assets/lib/jquery/dist/jquery.js"></script>
    <script src="./public/assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./public/assets/lib/wow/dist/wow.js"></script>
    <script src="./public/assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
    <script src="./public/assets/lib/isotope/dist/isotope.pkgd.js"></script>
    <script src="./public/assets/lib/imagesloaded/imagesloaded.pkgd.js"></script>
    <script src="./public/assets/lib/flexslider/jquery.flexslider.js"></script>
    <script src="./public/assets/lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="./public/assets/lib/smoothscroll.js"></script>
    <script src="./public/assets/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
    <script src="./public/assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
    <script src="./public/assets/js/plugins.js"></script>
    <script src="./public/assets/js/main.js"></script>
		<script src="./public/vendor/jquery-easing/jquery.easing.min.js"></script>
  </body>
</html>