<!DOCTYPE html>
<html lang="pt">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/public/css/frontend/fundo.css">
	<title></title>

	</head>


	<body>
		<br>
		<div class="container">
				<div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
						<li role="presentation"><a href="/">Pagina Principal</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Tech Summit</h3>
      </div>
