<% include partials/header-backend %>

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Listagem <small>dos patrocinadores</small></h3>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Patrocinadores</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Nome</th>
                          <th>Contribuição</th>
                        </tr>
                      </thead>
                      <tbody>
  						    <% for (var p of data) { %>
								<tr>
  								    <td><a href="/patrocinador/<%= p.idPatrocinadores %>"><%= p.nomeP %></a></td>
  								    <td><%= p.valor %></td>
  							    </tr>
  						    <%} %>
                      </tbody>
                    </table>
					<a href="/patrocinador/createPatrocinador"><button type="submit" class="btn btn-success">Add Patrocinador</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
<% include partials/footer-backend %>